@import "https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300";

body {
    color: #2d3c49;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.logo {
    padding-top: 19px;
}

.header {
    border-bottom: 3px solid #7d97ad;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header-title {
    font-family: "Quicksand", sans-serif;
    text-align:right;
    text-transform: uppercase;
}

.header-subtitle {
    font-family: "Open Sans", sans-serif;
    text-align: right;
    text-transform: uppercase;
}


.teasers-title {
    font-family: "Open Sans", sans-serif;
    color: #7d97ad;
    text-transform: uppercase;
}

.teaser-title {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.teaser-box {
    text-align: center;
    margin-bottom: 25px;
}

.teaser-title {
    margin-top: 10px;
}

.teaser-url {
    font-family: "Open Sans", sans-serif;
    word-break: break-all;
    font-size: 10px;
}

@media only screen and (min-width: 800px) {
    .page {
        width: 800px;
    }
}

@media only screen and (min-width: 768px) {
    .teaser:hover {
        background-color: #2d3c49;
        color: #fff;
    }

    .logo-img {
        height: 80px;
        width: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .header-title {
        font-size: 24px;
    }

    .header-subtitle {
        font-size: 10px;
    }

    .teasers-title {
        font-size: 16px;
    }

    .teaser {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .teaser-title {
        font-size: 16px;
        margin-top: -40px;
        margin-bottom: 2px;
        color: #fff;
    }

    .teaser-url {
        color: #fff;
    }

    .logo-img {
        height: 60px;
        width: 60px;
    }
}